@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  /* min-width: 100vw;
  height: 100vh; */
  margin: 0;
}

#main {
  background-image: url("img2.JPG");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 60% center;
  height: 100vh;
  width: 100vw;
  margin: 0;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

#main::before{
  content: '';
  background: inherit;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -1;
}

.center{
  position: absolute;
  margin: auto;
  min-width: 70vw;
  max-width: 90vw;
  text-align: center;
  background-color: #FFFB
}

p{
  opacity: 100%;
  font-size: 2vh;
  margin: 2vh 5vw; 
}
